<!DOCTYPE html>
<html lang="en">
<head th:replace="template/header :: head"></head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container">
        <div class="page-title">
            <h2>Clientes</h2>
        </div>

        <div class="mt-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Documento</th>
                        <th scope="col">Telefone</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${customers.empty}">
                        <td colspan="4">Nenhum cliente cadastrado</td>
                    </tr>
                    <tr th:each="customer : ${customers}">
                        <td>
                            <span th:text="${customer.getId()}"></span>
                        </td>
                        <td>
                            <span th:text="${customer.getCustomerName()}"></span>
                        </td>
                        <td>
                            <span th:text="${customer.getCustomerDocument()}"></span>
                        </td>
                        <td>
                            <span th:text="${customer.getCustomerMobilePhone()}"></span>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning">
                                <a th:href="@{'/customers/edit/' + ${customer.getId()}}">Editar</a>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>